* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.body-contact {
  
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      45deg,
      rgba(130, 107, 190, 0.8),
      rgba(114, 182, 186, 0.8)
    ),url(/assets/img/1.png);
  padding: 0 1.5em;
  background-position: center center;
  background-size: cover;
  color: #fff;
  line-height: 1.6;
}
/*CLASES DE LOS TEXTOS*/
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #ed7b89;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
  font-size: 25px;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button {
  color: rgb(241, 235, 235);
  border: 3px solid #f8f6f6;
  border-radius: 25px;
  margin-bottom: 10px;
  width: 100%;
}
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #070707;
  border: 3px solid #f8f6f6;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: 20px;
}

.contact-form form button {
  background-color: rgba(150, 161, 200, 0.465);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background-color: rgba(55, 67, 108, 0.465);
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background-color: rgba(0, 0, 0, 0.5);
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 25px;
}

/*RESPONSIVE MOVIL*/
@media (min-width: 700px) {
  body {
    padding: 0 4em;
  }
  .contact-more {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-more > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
=======
    url(../assets/img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Arreglos de los formularios de ingreso y de registro */
.container-form {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease-out;
}

.welcome-back {
  display: flex;
  align-items: center;
  text-align: center;
}

.message p {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.message h2 {
  font-size: 30px;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.message button {
  margin: auto;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(150, 161, 200, 0.465);
  font-weight: 400;
  margin-top: 10px;
  font-size: 20px;
  border: solid thin white;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  color: rgb(255, 255, 255);
}

.message button:hover {
  background-color: rgba(55, 67, 108, 0.465);
  color: rgb(255, 255, 255);
}

.formulario {
  width: 400px;
  padding: 1rem;
  margin: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 30px;
}

.formulario h2 {
  font-size: 25px;
  padding: 30px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.formulario p {
  font-size: 20px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: 200;
}

.create-account {
  padding: 35px;
  font-size: 20px;
}

.icons {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.border-icon {
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: solid thin white;
  border-radius: 50%;
  font-size: 30px;
  transition: all 0.3s ease-in;
}

.border-icon:hover {
  background-color: rgba(135, 114, 146, 0.465);
  cursor: pointer;
  font-size: 35px;
}

.cuenta-gratis {
  padding: 2rem 0;
}

.formulario input {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.formulario input[type="button"] {
  margin: auto;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(150, 161, 200, 0.465);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.formulario input[type="button"]:hover {
  background-color: rgba(55, 67, 108, 0.465);
  color: rgb(150, 184, 176);
}

.formulario input[type="submit"] {
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(150, 161, 200, 0.465);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  
  .formulario input[type="submit"]:hover {
    background-color: rgba(55, 67, 108, 0.465);
    color: rgb(150, 184, 176);
  }

/* Arreglos de visibilidad de los formularios */
.sign-in {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.sign-in.active {
  opacity: 1;
  visibility: visible;
}

.sign-up.active {
  opacity: 0;
  visibility: hidden;
}

/* Pagina News */

/* Estilo general para la pagina news */

.bodyNews {
    height: auto;
    background-image: linear-gradient(
        45deg,
        rgba(130, 107, 190, 0.8),
        rgba(114, 182, 186, 0.8)
      ),
      url(/assets/img/backgroundPaginas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Media queries para la pagina */
  
  /* Media query para los dispositivos desde 375px */
  
  @media screen and (min-width: 375px) {
    /* Estilos para el titulo de la pagina */
  
    .newsSectionTitle {
      margin: 5%;
      color: rgb(238, 238, 238);
      text-align: center;
      margin: 4%;
      font-size: 48px;
    }
  
    /* Estilos para el contenedor padre, donde los elementos hijos se organizaran en columnas */
  
    .newsSection {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    /* Estilos para los articulos de la pagina, representados en cards*/
  
    .article {
      background-color: rgb(214, 214, 214);
      width: 90%;
      height: auto;
      margin: 5% 5.5%;
      border-radius: 10%;
    }
  
    /* Estilos para las imagenes que acompañan los articulos*/
  
    .photoArticle {
      width: 100%;
      object-fit: cover;
      margin-top: 2%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15%;
    }
  
    /* Estilos para el titulo del articulo*/
  
    .article h5 {
      width: 90%;
      font-size: 20px;
      height: auto;
      text-align: center;
      margin-top: 2.5%;
      padding-left: 10%;
      padding-top: 2.5%;
    }
  
    /* Estilos para el texto del articulo*/
    .article p {
      margin: 5% auto 7.5% auto;
      text-align: center;
      width: 90%;
    }
  
    /* Estilos para el enclace del articulo*/
    .article a {
      display: block;
      margin: 0 auto 0 auto;
      width: 100px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      text-decoration: none;
      margin-bottom: 5%;
      color: aliceblue;
      background-color: #4d1c1a;
      border-radius: 10%;
    }
  }
  
  /* Media query para los dispositivos desde 375px */
  
  @media screen and (min-width: 600px) {
    /* Estilos para el contenedor padre, donde los elementos hijos se organizaran en filas con su respectivo wrap*/
    .newsSection {
      display: flex;
      align-items: flex-start;
      flex-flow: row wrap;
    }
  
    /* Estilos para los articulos de la pagina, representados en cards. Con la propiedad definida wrap, caben 2 articulos por fila*/
    .article {
      width: 40%;
      margin: 5% auto;
    }
  }
  
  @media screen and (min-width: 800px) {
    /* Estilos para el contenedor padre, donde los elementos hijos se organizaran en filas con su respectivo wrap*/
    .newsSection {
      display: flex;
      align-items: flex-start;
      flex-flow: row wrap;
    }
  
    /* Estilos para los articulos de la pagina, representados en cards. Con la propiedad definida wrap, caben 3 articulos por fila*/
    .article {
      width: 30%;
      margin: 5% auto;
    }
  }
  
  @media screen and (min-width: 1250px) {
    /* Estilos para el contenedor padre, donde los elementos hijos se organizaran en filas con su respectivo wrap*/
    .newsSection {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-flow: row wrap;
    }
  
    .article {
      /* Estilos para los articulos de la pagina, representados en cards. Con la propiedad definida wrap, caben 4 articulos por fila*/
      width: 20%;
      margin: 5% 2.4%;
    }
  }
